:root{
    --link-color: rgb(51, 102, 204);
    --dark-gray: rgb(84, 89, 93);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 65.2%;
    font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
}
.sprite{
    background-image: linear-gradient(transparent,transparent),
    url('../img/sprite.svg');
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 20vh;
}
/*HEADER*/
header img{
    margin-right: -28px;
    width: 60px;
    height: 60px;
}

.header-title-container span{
    display: block;
    text-align: center;
}

.header-title-container .header-title{
    font-size: 2.5em;
    font-weight: 700;
    font-feature-settings: "ss05";
    line-height: 31.25px;
}
.header-title-container .header-subtitle{
    font-size: 17.5px;
    font-weight: 400;
}

/*BUSCADOR*/
.section-search-container{
    position: relative;
    max-width: 100%;
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
}

.search{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.search input{
    width: 100%;
    height: 50px;
    background-color: white;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: var(--dark-gray);
    border-style: solid;
    font-size: 1.6rem;
}
.search input:focus{
    border: 1.5px solid var(--link-color);
}
.search button{
    padding: .8rem 1.6rem;
    white-space: nowrap;
    background-color: var(--link-color);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: var(--link-color);
    color: white;
    cursor: pointer;
    z-index: 2;
}

/*LENGUAJES*/
.section-languaje-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}
.languaje {
    width: 33%;
    height: 70px;
    margin-bottom: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    cursor: pointer;
    
}
.languaje:hover strong{
    text-decoration: underline;
}
.languaje strong, .languaje span{
    display: block;
    text-align: center;
}
.languaje strong{
    font-size: 1.7rem;
    color: var(--link-color)
}


.languaje span{
    font-size: 1.6rem;
    line-height: 22.75px;
    color: var(--dark-gray);
}

/*TITULO DE LENGUAJES*/

.svg-language-icon {
    background-position: 0 -617px;
    width: 22px;
    height: 22px;
}
